.list {
    background-image: var(--linnybg)
}

.logo a:hover {
    color: var(--logohov)
}
.logo .logo-switches .theme-toggle a#theme-toggle:hover {
    color: var(--themetoggler)
}
.menu a:hover {
    color: #ff686b;
}

.menu .active {
    font-weight: 500;
    border-bottom: 4px solid #84dcc6;
}

#top {
    background-image: var(--linnybg)
}

.post-content a:hover {
    color: var(--postlinkshov)
}

.post-content a {
    box-shadow: none;
    color: var(--postlinks)
}

.first-entry {
    margin: 0; /* var(--gap) 0 calc(var(--gap) * 2) 0*/
}

.main .page-header {
    margin-bottom: 24px;
}

main.main header.page-header h1 {
    color: var(--entryhead)
}

main article.post-entry:hover {
    background-color: var(--entryhead);
    transition: transform .5s;

}

article.post-entry:hover {
    transition: transform .5s;
    /*background-color: var(--entryhov)*/
    background-image: var(--entryhov)
    /*background-color: #93acb5;*/
}
