.logo a:hover {
    color: cornflowerblue;
}
.logo .logo-switches .theme-toggle a#theme-toggle:hover {
    color:crimson;
}
.menu a:hover {
    color: crimson;
}

.first-entry {
    margin: 0; /* var(--gap) 0 calc(var(--gap) * 2) 0*/
}
/*
.entry-header h2:hover {
    color: cornflowerblue;
}
*/
