.list {
    background-image: var(--linnybg)
}

.logo a:hover {
    color: var(--logohov)
}
.logo .logo-switches .theme-toggle a#theme-toggle:hover {
    color: var(--themetoggler)
}
.menu a:hover {
    color: #ff686b;
}

.menu .active {
    font-weight: 500;
    border-bottom: 4px solid #84dcc6;
}

#top {
    background-image: var(--linnybg)
}

.post-content a:hover {
    color: var(--postlinkshov)
}

.post-content a {
    box-shadow: none;
    color: var(--postlinks)
}

.first-entry {
    margin: 0; /* var(--gap) 0 calc(var(--gap) * 2) 0*/
}

.main .page-header {
    margin-bottom: 24px;
}

main.main header.page-header h1 {
    color: var(--entryhead)
}

main article.post-entry:hover {
    background-color: var(--entryhead);
    transition: transform .5s;

}

article.post-entry:hover {
    transition: transform .5s;
    /*background-color: var(--entryhov)*/
    background-image: var(--entryhov)
    /*background-color: #93acb5;*/
}

:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #fff;
    --entry: #fff;
    --primary: rgba(0, 0, 0, 0.88);
    --secondary: rgba(0, 0, 0, 0.56);
    --tertiary: rgba(0, 0, 0, 0.16);
    --content: rgba(0, 0, 0, 0.88);
    --hljs-bg: #1c1d21;
    --code-bg: #f5f5f5;
    --border: #eee;
    --entryhov: #84dcc6;
    --entryhovgrady: linear-gradient(360deg,  hsl(359, 70%, 70%), rgba(44, 157, 129, 50%));
    --entryhead: linear-gradient(to right, hsla(341, 91%, 68%, 0, 6) 90%, hsla(165, 56%, 69%, 0, 6) 48%);
    --logohov: #ff686b;
    --themetoggler: #ff686b;
    --postlinks: #ff686b;
    --postlinkshov: #84dcc6;
    --grady-bg: hsla(0, 0%, 100%, 1);
    --linnybg: linear-gradient(180deg, hsla(0, 0%, 100%, 0.5) 0%, hsla(165, 56%, 69%, 0.6) 48%, hsla(341, 91%, 68%, 0.6) 90%);
}


.dark {
    --theme: #1d1e20;
    --entry: #2e2e33;
    --primary: rgba(255, 255, 255, 0.84);
    --secondary: rgba(255, 255, 255, 0.56);
    --tertiary: rgba(255, 255, 255, 0.16);
    --content: rgba(255, 255, 255, 0.64);
    --hljs-bg: #2e2e33;
    --code-bg: #37383e;
    --border: #5b5d67;
    --entryhov: #2C9D81;
    --entryhovgrady: linear-gradient(180deg, #2C9D81, #ff686b);
    --entryhead: linear-gradient(to right, hsla(341, 91%, 68%, 0, 6) 90%, hsla(165, 56%, 69%, 0, 6) 48%);
    --logohov: #ff686b;
    --themetoggler: #84dcc6;
    --postlinks: #84dcc6;
    --postlinkshov: #ff686b;
    --gradybg: hsla(4, 19%, 29%, 1);
    --linnybg: linear-gradient(360deg, hsla(4, 19%, 29%, 1) 0%, hsla(225, 44%, 7%, 1) 4%, hsla(191, 37%, 24%, 1) 18%, hsla(29, 22%, 29%, 1) 47%, hsla(212, 13%, 23%, 1) 91%, hsla(216, 22%, 28%, 1) 100%);
}

.list {
    background: var(--code-bg)
}

.dark.list {
    background: var(--theme)
}
