{{ resources.Get "contact" }}
<div class="form-container">
    <div class="screen">
        <div class="screen-header">
            <div class="screen-header-left">
                <div class="screen-header-button close"></div>
                <div class="screen-header-button maximize"></div>
                <div class="screen-header-button minimize"></div>
            </div>
            <div class="screen-header-right">
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
            </div>
        </div>
        <div class="screen-body">
            <div class="screen-body-item left">
                <div class="app-title">
                    <span>Contact Me</span>
                </div>
            <div class="app-contact">CONTACT INFO : thedavidsofusa@gmail.com</div>
            </div>
            <div class="screen-body-item">
                <div class="app-form">
                    <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
                        <div hidden aria-hidden="true">
                            <label>
                                Don't fill out human. Robots only: 
                                <input name="bot-field" />
                            </label>
                        </div>
                        <div class="app-form-group">
                            <input class="app-form-control" name="name" type="name" placeholder="NAME" required minlength="2" maxlength="80" />
                        </div>
                        <div class="app-form-group">
                            <input class="app-form-control" name="email" type="email" placeholder="EMAIL" required />
                        </div>
                        <div class="app-form-group message">
                            <input class="app-form-control" name="message" placeholder="MESSAGE">
                        </div>
                        <div class="app-form-group buttons">
                            <button class="app-form-button" type="submit">SEND</button>
                        </div>
                    </form>
                </div>
          </div>
    </div>
</div>
