<blockquote class="parler-parley">
    <p lang="en" dir="ltr">I don't know if the servers are still online, this is my first parley, but I want to be a witness when the largest free social media platform is shut down in a blatant attempt by the most powerful people in the world to prevent the opposition from communicating. 
This line will never be un-crossed. They are doing this because they are losing the battle of ideas. #parler is too much of a threat to exist. Support this platform!
#freespeech #quitfacebook #quittwitter #quitinstagram</p> -- hooksaw_lazrblade unsubstantiated
    <a lang="en" dir="ltr" href="https://embed.parler.com/post/29c1a7fff3f744adab1f5770224c231d" target="_blank">
        Monday, January 11, 2021
    </a>
    </blockquote>
    <script async src="https://embed.parler.com/embed/parley-embed.min.js" charset="utf-8"></script>
